<div class="bg-panel">

    <div class="d-flex" id="wrapper">

        {{!-- SIDEBAR --}}
        {{>sidebar}}

        {{!-- PAGE CONTENT --}}
        <div id="page-content-wrapper">
            <button class="btn btn-primary" id="sidebarToggle"><i class="fas fa-bars"></i></button>


            <div class="admin-container w-100 container">
                <div class="head-admin-container m-3">
                    <h1 class="title">Menu de Investigadores</h1>
                    <a href="/admin/investigadores"><button class="btn btn-primary">Volver</button></a>
                </div>

                <div id="content" class="d-block">
                    <!-- FORMULARIO -->
                    <div class="row">
                        <div class="col-lg mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Editar Investigador</h3>
                                </div>
                                <div class="card-body">

                                    <form>

                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="hidden" id="id" name="id" value="{{invest.id}}">

                                        <div class="row">
                                            <div class="col-lg-3 d-flex justify-content-center aling-items-center p-0">
                                                <button type="button" class="btn" data-toggle="modal"
                                                    data-target="#modalFPedit"
                                                    style="width: 150px; height: 150px; border-radius: 100%; padding: 0;">
                                                    <img class="user-img" id="imgDefaultEdit"
                                                        src="/uploads/{{invest.imgUrl}}"
                                                        style="width: 100%; height: 100%; border-radius: 100%; object-fit: cover;">
                                                    <img class="user-img d-none" id="imgUploadEdit" src="" alt=""
                                                        width="150px"
                                                        style="width: 100%; height: 100%; border-radius: 100%; object-fit: cover;">
                                                    <input type="text" name="imgUrlEdit" id="imgUrlEdit"
                                                        value="{{invest.imgUrl}}" class="d-none form-control">
                                                    <input type="text" name="defaultNameEdit" id="defaultNameEdit"
                                                        value="{{invest.imgUrl}}" class="d-none form-control">
                                                </button>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label for="nombre">Nombre: (*)</label>
                                                    <input type="text" id="nombre" class="form-control" name="nombre"
                                                        placeholder="Nombre completo" value="{{invest.nombre}}"
                                                        required>
                                                </div>
                                                <div class="form-group my-0">
                                                    <label for="departamento">Departamento: (*)</label>
                                                    <input id="departamento" name="departamento" class="form-control"
                                                        placeholder="Departamento" required
                                                        value="{{invest.departamento}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-2" id="massageTitulos">

                                        </div>
                                        <div class="form-group">
                                            <label for="titulosEdit">Titulos: (*)</label>
                                            <div class="input-group">
                                                <input type="text" id="titulosEdit" name="titulos"
                                                    placeholder="Agregar Titulos, Doctorados o Magisters obtenido..."
                                                    class="form-control">
                                                <div class="input-group-append">
                                                    <button type="button" id="agregarTituloEdit"
                                                        class="btn btn-primary">Agregar</button>
                                                </div>
                                            </div>
                                            <ul id="lista_titulosEdit" class="list-group my-2">

                                            </ul>

                                            {{#each invest.titulos}}
                                            <input type="text" id="titulos{{@index}}" name="titulos"
                                                placeholder="Titulos, Doctorados, Magisters obtenidos..."
                                                class="form-control col-12 my-2" value="{{this}}">
                                            {{/each}}
                                            {{#each invest.titulos}}
                                            {{#if @first}}
                                            <input class="d-none" type="text" name="lista_titulos" id="lista_titulos"
                                                value="{{../invest.titulos.length}}">
                                            {{/if}}
                                            {{/each}}
                                        </div>

                                        <div class="form-group mt-2" id="massageAreas">

                                        </div>
                                        <div class="form-group">
                                            <label for="areasEdit">Areas: (*)</label>
                                            <div class="input-group">
                                                <input type="text" id="areasEdit" name="areas"
                                                    placeholder="Areas en las que trabaja..." class="form-control">
                                                <div class="input-group-append">
                                                    <button type="button" id="agregarAreaEdit"
                                                        class="btn btn-primary">Agregar</button>
                                                </div>
                                            </div>
                                            <ul id="lista_areasEdit" class="list-group my-2">

                                            </ul>

                                            {{#each invest.areas}}
                                            <input type="text" id="areas{{@index}}" name="areas"
                                                placeholder="Areas en las que trabaja..."
                                                class="form-control col-12 my-2" value="{{this}}">
                                            {{/each}}
                                            {{#each invest.areas}}
                                            {{#if @first}}
                                            <input class="d-none" type="text" name="lista_areas" id="lista_areas"
                                                value="{{../invest.areas.length}}">
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email: (*)</label>
                                            <input type="email" id="email" class="form-control" name="email"
                                                placeholder="Correo Electronico" value="{{invest.email}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="numero">Numero:</label>
                                            <input type="text" id="numero" class="form-control" name="numero"
                                                placeholder="Numero telefonico" value="{{invest.numero}}" required>
                                        </div>

                                        <div class="form-group mt-2" id="massageErrorEdit">

                                        </div>

                                        <label>Campos obligatorios (*)</label>
                                        <button type="button" class="btn btn-primary btn-block" id="btn-guardarEdit">
                                            Actializar
                                        </button>
                                    </form>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalFPedit" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel">
                                                        Fotografia de perfil:
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/admin/upload" method="POST"
                                                        enctype="multipart/form-data" id="formFPEdit">
                                                        <div class="form-group">
                                                            <label for="archivo">Agregar fotografia:</label>
                                                            <input type="file" id="fotoPerfilEdit" name="archivo"
                                                                class="custom-file"
                                                                accept="image/jpg, image/jpeg, image/png" required>
                                                        </div>
                                                        <div class="form-group mt-2" id="massageFotoPerfilEdit">

                                                        </div>
                                                        <div class="form-group float-right">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" id="cerrarFPEdit">Close</button>
                                                            <button type="button" id="btnCargarImgEdit"
                                                                class="btn btn-primary d-none">Guardar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- Fin Modal --}}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN CONTENT -->

            </div>
        </div>

    </div> <!-- Fin del Sidebar Wrapper -->

</div>