<div class="container bg-light pt-4">
    <div class="row">
        {{#each ayud}}

        <div class="col-lg-6">

            <div class="card mb-4 border border-primary rounded cardAyud" id="ayud{{id}}">
                <div class="card-header text-center">
                    <h5 class="card-title m-0 font-weight-bold">{{nombre}}</h5>
                    <h6 class="col-12 dptoI">{{carrera}}</h6>
                </div>
                <div class="card-body">

                    <div class="row align-items-center">

                        <div class="col-md-4 col-lg-5 col-xl-4">
                            <img style="object-fit: cover; width: 150px; height: 150px; border-radius: 100%;"
                                src="/uploads/{{imgUrl}}" alt="Foto de perfil de {{nombre}}"
                                class="card-img-top mx-auto rounded d-block">
                        </div>

                        <div class="col-md-8 col-lg-7 col-xl-8 row text-center mx-0">
                            <P class="my-0 col-12 font-weight-bold">Proyecto de Título:</P>
                            <h6 class="col-12 my-0">{{proyecto}}</h6>
                            <p class="font-weight-bold col-12 mb-0">Profesor(res) Guía:</p>
                            {{#each profesor}}
                            <h6 class="col-12 my-0">{{this}}</h6>
                            {{/each}}
                            <a class="link mt-3 col-12" href="mailto:{{email}}">{{email}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>