<div class="container pt-3">
    <div class="row">
        {{#each ayud}}
        <div class="col-md-6">
            <div class="card shadow card-ayud mb-4">
                <div class="card-body d-flex investigador">
                    <div class="row">
                        <div class="col-md-4 my-1">
                            <img src="/uploads/{{imgUrl}}" alt="Foto de perfil de {{nombre}}"
                                class="img-fluid img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-1">{{nombre}}</h4>
                            <h6 class="mb-1">{{carrera}}</h6>
                            <P class="my-0"><span class="font-weight-bold">Proyecto de Titulo:</span><br>{{proyecto}}
                            </P>
                            <p><span class="font-weight-bold">Profesor(res) Guia:</span>
                            {{#each profesor}}
                            <br>{{this}}
                            {{/each}}
                            </p>
                            {{!-- <div class="container text-center">
                                <a class="link" href="mailto:{{email}}">{{email}}</a>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>