<div class="container bg-light p-0">

    <div class="card-header py-4">
        <h5 class="m-0 font-weight-bold"><i class="fas fa-angle-double-right"></i> <a href="/actividades/eventos"
                class="text-decoration-none text-dark font-weight-bold">Eventos</a> <i class="fas fa-angle-down"></i>
        </h5>
    </div>

    <div class="blog-post p-4">
        <div class="flex-row text-center">
            <div class="mb-4">
                <h1 class="blog-post-title font-weight-bold text-center mx-md-4">{{event.titulo}}</h1>
            </div>
        </div>

        <input type="hidden" value="{{event.vigente}}" id="vigente">
        <input type="hidden" value="{{event.fechaFormat}}" id="fechaFormat">
        <input type="hidden" value="{{event.id}}" id="idEvento">

        <div class="text-center">
            {{event.breveDescrip}}
        </div>

        <div class="text-center" id="card-fechas">

        </div>       

        <h3 class="font-weight-normal text-center mt-3">Descripción:</h3>
        <div class="vr mx-lg-4 my-4">{{{event.descripcion}}}</div>


    </div><!-- /.blog-post -->
</div>