<div class="bg-panel">
    <div class="d-flex">

        {{>sidebar}}

        <div class="admin-container w-100 container">
            <div class="head-admin-container m-3">
                <h1 class="title">Menu de Publicaciones</h1>
                <a href="/admin/nueva-public"><button class="btn btn-primary">Agregar Publicacion</button></a>
            </div>

            <div id="content" class="d-block">
                <!-- Tabla -->
                <div class="container w-100">
                    <table class="table table-hover">
                        <thead class="bg-primary text-light">
                            <tr class="text-center">
                                <th width="" class="text-left">Titulo</th>
                                <th width="20%">Fecha de Creacion</th>
                                <th width="15%">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each public}}
                            <tr>
                                <td>{{titulo}}</td>
                                <td class="text-center">{{creado}}</td>
                                <td>
                                    <div class="d-flex">
                                        <form action="/admin/edit-public/{{_id}}" method="PUT">
                                            <button type="submit" class="btn btn-primary btn-sm mr-2">
                                                <i class="fas fa-pen lead"></i>
                                            </button>
                                        </form>
                                        <form action="/admin/delete-public/{{_id}}?_method=DELETE" method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger btn-sm mr-2">
                                                <i class="fas fa-trash-alt lead"></i>
                                            </button>
                                        </form>
                                        <a href="/actividades/publicaciones/{{_id}}" class="btn btn-success btn-sm" target="_blank"><i class="fas fa-eye lead"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>

                    {{!-- Botones de paginacion... --}}
                    <div id="paginacion" class="">
                        <input type="hidden" id="page" value="{{page}}">
                        <input type="hidden" id="ultPage" value="{{ultPage}}">
                        <input type="hidden" id="url" value="/admin/publicaciones">
                        <nav>
                            <ul class="pagination justify-content-center rounded">
                                <li class="page-item"><button class="btn btn-outline-primary rounded mx-1"
                                        id="btn-inicio">Inicio</button></li>
                                <li class="page-item"><button class="btn btn-outline-primary rounded mx-1"
                                        id="btn-anterior"><i class="fas fa-angle-left"></i></button></li>
                                {{#each totalPages}}
                                <li class="page-item"><a href="/admin/publicaciones?page={{this}}"
                                        class="btn btn-outline-primary rounded mx-1 d-none"
                                        id="btn{{this}}">{{this}}</a>
                                </li>
                                {{/each}}
                                <li class="page-item"><button class="btn btn-outline-primary rounded mx-1"
                                        id="btn-siguiente"><i class="fas fa-angle-right"></i></button></li>
                                <li class="page-item"><button class="btn btn-outline-primary rounded mx-1"
                                        id="btn-final">Final</button></li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>